@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
h1{font-family: 'Roboto bold', sans-serif;}
h2{background-color: #A6A6A6; color: white;}
body{background-color: white;}
body{color: black;}
body{font-family: Times;font-size: 24px;}
body{font-weight: lighter;}

a{text-decoration: none;} 

div{
	margin: 15px ; 
	padding: 50px; 
	width: 700px;
} 

.titre {
	margin: 200px ; 
	padding: 20px; 
	width: 700px;
}
